---
layout: default
---

<div id="head">

  <meta charset="utf-8">
  <meta name="author" content="Olalekan Ogunmolu">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64680332-1', 'auto');
  ga('send', 'pageview');

</script>

<div id="home">
  <a href="https://github.com/lakehanne/lakehanne.github.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

  <nav>
    <a href="#allposts"><center><strong>Blog posts</strong></center></a><br>
    {% for category in site.categories %}
        <a href="#{{ category | first | remove:' ' }}"><strong>{{ category | first }}</strong></a>
        {% if forloop.last %}.{% else %}, {% endif %}
    {% endfor %}
  </nav>

  <div class="mein_posts" id="allposts">

    <ul class="posts">
      {% for quote in site.quotes %}
        <li><span class = "quote-date">
          <time>{{ quote.date | date: "%b %-d, %Y" }}</time></span>
          <center><a class= "quote-link" href="{{ quote.url | prepend: site.baseurl }}">{{ quote.title }}</a></center>
        </li>
      {% endfor %}
    </ul>
  </div>

  <ul class="quotes_sci">
    {% for quotes in site.quotes %}
      <li><span class = "post-date"><time>{{ post.date | date: "%b %-d, %Y" }}</time></span>
        <center>
          <a class= "post-link" href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}</a>
        </center>    <br>
        <center>{{  post.excerpt  }}</center>
      </li>
    {% endfor %}
  </ul>

  <div class="mein_quotes" id="quotes">
    <br></br>
    <a href="quotes.html"><center><strong>Quotes</strong></center></a>
    <!-- <center> A curated list of quotes that's good for the soul of an engineer. </center> -->
  </div>

  <!-- list post that each category contains -->
{% for category in site.categories %}
    <div class="mein_posts" id="{{ category | first | remove:' ' }}">
        <h2>{{ category | first }}</h2>

        <ul>
           {% for posts in category %}
             {% for post in posts %}
               {% if post.url %}
                 <br>
                 <li>
                   <a href="{{ post.url }}">
                     {{ post.date | date: "%-d %B %Y" }} &nbsp; &nbsp; &nbsp;
                     {{ post.title }}
                     <br>
                   </a>
                 </li>
               {% endif %}
             {% endfor %}
           {% endfor %}
        </ul>
    </div>
{% endfor %}

<!--  add front matter to styatic files -->
  <!-- {% assign image_files = site.static_files | where: "image", true %}
  {% for myimage in image_files %}
    {{ myimage.path }}
  {% endfor %}

  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
          <i class="fa fa-chevron-left"></i>
          {{ site.theme.str_prev }}
        </a>
      {% endif %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
          {{ site.theme.str_next }}
          <i class="fa fa-chevron-right"></i>
        </a>
      {% endif %}
    </div>
    {% endif %}

  {% for post in paginator.posts %}
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <p class="author">
          <span class="date">{{ post.date }}</span>
        </p>
      <div class="content">
        {{ post.content }}
      </div>
  {% endfor %} -->


  <!-- Pagination links -->
  <!-- <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
</div> -->


<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P6X2WR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P6X2WR');</script>
<!-- End Google Tag Manager -->

</div>
