<figure>
   <div class="imgContainer">
   <img src="{{ include.file }}" style="max-width: {{ include.max-width }};"
      alt="{{ include.alt }}" align = "{{ include.align }}"
	float="{{ include.float; }}"
	border="{{ include.border }}"
	margin="{{ include.margin }}" />
   <figcaption>{{ include.caption }}</figcaption>
	</div>

   <div class="imgContainer">
	<img src="{{ include.file2 }}" style="max-width: {{ include.max-width }};"
      alt="{{ include.alt2 }}" align = "{{ include.align2 }}"
	float="{{ include.float; }}"
	border="{{ include.border }}"
	margin="{{ include.margin }}" /><br>
   <figcaption>{{ include.caption2 }}</figcaption>
	</div>
</figure>
