<figure>
   <div class="imgContainer">
   <img src="{{ include.file }}" 
	width="{{ include.width }}"
	height="{{ include.height }}"/>
	</div>


   <div class="imgContainer">
	<img src="{{ include.file2 }}" 
	width="{{ include.width }}"
	height="{{ include.height }}" /><br>
   <figcaption>{{ include.caption }}</figcaption>
	</div>

   <div class="imgContainer">
	<img src="{{ include.file3 }}" 
	width="{{ include.width }}"
	height="{{ include.height }}" /><br>
   <figcaption>{{ include.caption }}</figcaption>
	</div>

   <div class="imgContainer">
	<img src="{{ include.file4 }}" 
	width="{{ include.width }}"
	height="{{ include.height }}" /><br>
   <figcaption>{{ include.caption }}</figcaption>
	</div>

   <div class="imgContainer">
	<img src="{{ include.file5 }}" 
	width="{{ include.width }}"
	height="{{ include.height }}" /><br>
   <figcaption>{{ include.caption }}</figcaption>
	</div>
</figure>

<iframe src="/assets/zero_to_hero.mp4" width="455" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:3px solid #666; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
<br>